## String to partially override fullname template (will maintain the release name)
##
nameOverride: ""

## String to fully override fullname template
##
fullnameOverride: ""

# where the mysql installed namespace
namespaceSelector: monitoring
# endports
endpoints: []
# on what port are the metrics exposed by etcd
metricsPortName: metrics
metricsPort: 9121
# Are we talking http or https?
scheme: http
## Custom Labels to be added to ServiceMonitor
# 经过测试，servicemonitor标签添加prometheus operator的release标签即可正常监控
additionalServiceMonitorLabels:
  release: prometheus-operator
# Custom Labels to be added to Prometheus Rules CRD
additionalRulesLabels:
  release: prometheus-operator

prometheusRule:
  enabled: false
  ## https://github.com/helm/charts/blob/master/stable/redis-servicemonitor/values.yaml
  ## https://github.com/helm/charts/blob/master/stable/redis/values-production.yaml
  rules: []
    #  - alert: RedisDown
    #    expr: redis_up{service="{{ template "redis-servicemonitor.fullname" . }}"} == 0
    #    for: 2m
    #    labels:
    #      severity: error
    #    annotations:
    #      summary: Redis instance {{ "{{ $labels.instance }}" }} down
    #      description: Redis instance {{ "{{ $labels.instance }}" }} is down.
    #  - alert: RedisMemoryHigh
    #    expr: >
    #       redis_memory_used_bytes{service="{{ template "redis-servicemonitor.fullname" . }}"} * 100
    #       /
    #       redis_memory_max_bytes{service="{{ template "redis-servicemonitor.fullname" . }}"}
    #       > 90 <= 100
    #    for: 2m
    #    labels:
    #      severity: error
    #    annotations:
    #      summary: Redis instance {{ "{{ $labels.instance }}" }} is using too much memory
    #      description: |
    #         Redis instance {{ "{{ $labels.instance }}" }} is using {{ "{{ $value }}" }}% of its available memory.
    #  - alert: RedisKeyEviction
    #    expr: |
    #      increase(redis_evicted_keys_total{service="{{ template "redis-servicemonitor.fullname" . }}"}[5m]) > 0
    #    for: 1s
    #    labels:
    #      severity: error
    #    annotations:
    #      summary: Redis instance {{ "{{ $labels.instance }}" }} has evicted keys
    #      description: |
    #        Redis instance {{ "{{ $labels.instance }}" }} has evicted {{ "{{ $value }}" }} keys in the last 5 minutes.
